In [1]:
import pandas as pd
import numpy as np

In [2]:
# index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A', 'B'])

In [7]:
# index hierarchy
df

             A         B
G1 1  0.006685  0.014428
   2  0.513114 -0.446585
   3  0.623079  0.160703
G2 1  1.425704  0.419705
   2 -0.217093 -1.607190
   3 -0.206331 -2.045880

In [8]:
df.loc['G1']

          A         B
1  0.006685  0.014428
2  0.513114 -0.446585
3  0.623079  0.160703

In [9]:
df.loc['G1'].loc[1]

A    0.006685
B    0.014428
Name: 1, dtype: float64

In [11]:
df.index.names = ['Groups', 'Num']

In [12]:
df

                   A         B
Groups Num
G1     1    0.006685  0.014428
       2    0.513114 -0.446585
       3    0.623079  0.160703
G2     1    1.425704  0.419705
       2   -0.217093 -1.607190
       3   -0.206331 -2.045880

In [13]:
df.loc['G2'].loc[2]['B']

-1.6071899049568268

In [14]:
# cross section
df.xs('G1')

            A         B
Num
1    0.006685  0.014428
2    0.513114 -0.446585
3    0.623079  0.160703

In [15]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.006685  0.014428
G2      1.425704  0.419705