## Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [3]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [6]:
# uses the keys of the dictionary as the index
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [7]:
ser1 = pd.Series([1,2,3,4], index=['USA', 'Germany', 'USSR', 'Japan'])

In [8]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [9]:
ser2 = pd.Series([1,2,5,4], index=['USA', 'Germany', 'Italy', 'Japan'])

In [10]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [12]:
ser2.keys()

Index(['USA', 'Germany', 'Italy', 'Japan'], dtype='object')

In [13]:
ser2['Italy']

5

In [14]:
ser2.Italy

5

In [17]:
# integers are converted to floats
# if there is no value for a given index, it is filled with NaN
print(ser1 + ser2)

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64