In [2]:
import pandas as pd
print(pd.options.display.max_rows)

60

In [3]:
df = pd.read_csv('./NSE_Data .csv')
df.head()

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,04-Nov-2022,88.40,88.4,93,88.4,91.50,91.40,91.46,196800.0,179.99,4143.0,95952,48.76
1,21STCENMGM,EQ,04-Nov-2022,23.05,23.0,23.3,22.75,22.75,22.75,22.95,6205.0,1.42,70.0,3926,63.27
2,3IINFOLTD,EQ,04-Nov-2022,44.15,44.4,44.5,43.5,43.75,43.90,43.91,352627.0,154.84,2757.0,224858,63.77
3,3MINDIA,EQ,04-Nov-2022,23071.50,23178.0,23358.95,22801,22851.00,22871.95,22969.36,1318.0,302.74,642.0,809,61.38
4,3PLAND,EQ,04-Nov-2022,18.45,17.8,18.8,17.75,18.60,18.20,18.19,5056.0,0.92,123.0,2289,45.27

In [4]:
print(df['SYMBOL'].dtype,df[' PREV_CLOSE'].dtype,df[' SERIES'].dtype)

object float64 object

In [5]:
# Category is a pandas data type that is used to store data that is in categorical format.
# The categorical data type is useful in the following cases −
# A string variable consisting of only a few different values. Converting such a string variable to a categorical variable will save some memory.
# The lexical order of a variable is not the same as the logical order (“one”, “two”, “three”). By converting to a categorical and specifying an order on the categories, sorting and min/max will use the logical order instead of the lexical order.
print(df[' SERIES'].astype('category'))

0        EQ
1        EQ
2        EQ
3        EQ
4        EQ
       ...
1401     EQ
1402     EQ
1403     EQ
1404     EQ
1405     EQ
Name:  SERIES, Length: 1406, dtype: category
Categories (42, object): [' BE', ' BZ', ' E1', ' EQ', ..., ' Y3', ' Y5', ' Y7', ' YG']