In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.random.randint(0,25,size=(5, 4)), columns=list('ABCD'))
df

    A   B   C   D
0  21  23   1   4
1   6  19   8  23
2  11  10   8   6
3   2   3  10  10
4  22  14  23   9

In [10]:
df.to_csv('random.csv',index=False)
!cat random.csv

A,B,C,D
21,23,1,4
6,19,8,23
11,10,8,6
2,3,10,10
22,14,23,9